body{
    background-color: #0C0C0C;
    color: white;
    font-size: 15pt;
    size: 15pt;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

/* subHeader font */
.subHeader {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* HEADER STYLES */
header{
    text-align: right;
    padding-top: 1%;
    padding-bottom: 1%;
}

header a{
    color: white;
    margin: 1%;
    font-size: 1.5rem;
}

/* TOP STYLES */
.top{
    height: 20rem;
    background-color: #481E14;
    border-top: 10px solid #481E14;
    border-bottom: 10px solid #481E14;
}

h1{
    text-align: center;
    padding-top: 5%;
    font-size: 3rem;
    font-style: bold !important;
}


/* LATEST PROJECT STYLES */
.game{
    margin: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.game img{
    clear: left;
    float: left;
    height: 200px;
    margin-right: 4%;
}

/* FOOTER STYLES */
footer{
    text-align: center;
    background-color: #481E14;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer a{
    clear: left;
    color: white;
    margin: 1%;
    margin-right: 2%;
    margin-left: 2%;
}

/* extra details */
.selected{
    color: #F2613F;
}

a{
    text-decoration: none;
}

.gameTitle{
    color: #9B3922;
}

.pic1{
    background-image: url("../Images/HiddenPines/HiddenPines1.png");
}