/* #1A509F */
body{
    background-color: #1A509F;
    color: rgb(178, 186, 194);
    font-size: 15pt;
    size: 15pt;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;

    padding: 5%;
}

.bg{
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgba(27, 27, 27, 0.858);
 
    /* display: grid;
    grid-template-columns: 1 1; */
}

/* subHeader font */
.subHeader {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* HEADER STYLES */
header{
    text-align: right;
    padding-top: 1%;
    padding-bottom: 1%;
}

header a{
    color: white;
    margin: 1%;
    font-size: 1.5rem;
}

/* TOP STYLES */
.top{
    height: 20rem;
    background-color: #000000;
    /* border-top: 10px solid #1A509F;
    border-bottom: 10px solid #1A509F; */
}

h1{
    text-align: center;
    padding-top: 5%;
    font-size: 3rem;
    font-style: bold !important;
}


.game{
    display: inline-block;
    height: 200px;
    width: 400px;
    text-align: center;
    border: 3px solid black;
}

.game a{
    position: relative;
}

.game img{
    height: 500px;
    width: 500px;
    object-fit: cover;
    object-position: center;
    z-index: 4;
}

.gameTitle{
    font-size: 1rem;
    position: absolute;
    color: rgb(178, 186, 194);
    letter-spacing: 1px;
    top: 0%;
    padding-left: 50%;
    padding-top: 15%;
    width: 100%;
    height: auto; 
    z-index: 5;
    opacity: 0;
} 


/* LATEST PROJECT STYLES */
/* .game{
    margin: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
} */

/* .game img{
    clear: left;
    float: left;
    width: 300px;
    margin-right: 4%;
}

.shadowless{
    padding-top: 40px;
    padding-bottom: 40px;
} */

/* FOOTER STYLES */
footer{
    text-align: center;
    background-color: #1A509F;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer a{
    clear: left;
    color: white;
    margin: 1%;
    margin-right: 2%;
    margin-left: 2%;
}

/* extra details */
.selected{
    color: #405ba9;
}

a{
    text-decoration: none;
}

.hover{
    box-shadow: 0 3px 4px 0 grey;
}

.hoverName{
    box-shadow: initial;
    opacity: 1;
    filter: brightness(100%);
}

.hoverImg{
    opacity: .8;
    filter: brightness(30%);
}
