body{
    /* background-color: #343434; */
    /* background-image: url("../Images/KarkinosAcsension/karkinosScene.png"); */
    /* background-image: url("../Images/KarkinosAcsension/waterSandKelp.png"); */
    /* background-image: url("../Images/KarkinosAcsension/karkinosPic2.png"); */
    background-image: url("../Images/KarkinosAcsension/karkinosPic3.png");    

    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 

    color: white;
    font-size: 15pt;
    letter-spacing: 2px;
    size: 15pt;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;

    padding: 5%;
}

.bg{
    padding: 2%;
    background-color: rgba(27, 27, 27, 0.858)
}

#main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#logo {
    float: left;
    margin: 2rem;
}

#logo img{
    border-radius: 50%;
}

#text{
    margin: 2rem;
}

#myWork p{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-around;
}

#tabs {
    float: none;
    display: flex;
    padding: 3%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-around;
}


/* header font */
.subHeader {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

a {
    color: white;
    /* margin: 1%; */
    font-size: 1.5rem;
}

h1{
    text-align: center;
    letter-spacing: 5px;
    padding-top: 5%;
    font-size: 3rem;
    font-style: bold !important;
}

h2 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 5px;
}

/* Responsive for phone */
@media (max-width: 800px) {
    body{
        text-align: center;
    }

    #main{
        flex-direction: column;
    }
  }

/* extra details */
.selected{
    color: #F2613F;
}

a{
    text-decoration: none;
}

.gameTitle{
    color: #9B3922;
}

.pic1{
    background-image: url("../Images/HiddenPines/HiddenPines1.png");
}